.logo {
  padding: 2.5px;
  border-radius: 8px;
  border: 1px solid rgba(185, 22, 22, 0.4);
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.logo:hover {
  background-color: rgba(185, 22, 22, 0.5);
  transform: scale(1.1);
}