.logoFooter {
    padding: 3px;
    border-radius: 0.5em;
    border: solid 0.05em rgba(90, 90, 90, 0.7);
    background-color: #b91616;
}

.midiaFooter{
    margin: 0 5px;
    padding: 0.01em;
    border-radius: 0.5em;
    border: solid 0.05em rgba(90, 90, 90, 0.7);
    background-color: #b91616;
}

.midiaFooter:hover{
    border: solid 0.05em rgba(255, 255, 255, 0.5);
}