.caixa {
    min-height: 50vh;
    padding: 6rem 0;
}

.articlesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .articlesGrid {
        grid-template-columns: 1fr;
    }
}