.hero {
  background: linear-gradient(#000, #b91616);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.title {
  color: #fff;
  font-size: clamp(2rem, 5vw, 5rem);
  margin-bottom: 2rem;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .buttonGroup {
    flex-direction: column;
    align-items: center;
  }
}