.feature {
  transition: all 0.8s ease-out;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature p {
  font-weight: 500;
  line-height: 1.6;
}