.gradiente{
    background-image: linear-gradient(#000, #b91616);
    margin:0;
}

.card {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.5s ease-out forwards;
}
  
@keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}